/* global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

table th,
table td {
  padding: 0;
  margin: 0;
}
p{
  margin: 0;
}
:root {
  --vh: 100%;
  --darkGray: #3f3e3e;
  --deepGray: #b3b3b3;
  --lightGray: #f3f3f3;
  --th: #e5e5e5;
  --hover: #ececec;
  --clicked: rgba(209, 234, 255, 0.73);
  --innerline: #7ac7ff;
  --buble: #fffef7;
  --dot: radial-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  --glass:rgba(224, 224, 224, 0.42);
  --linearThemeColor: rgba(77, 149, 231, 0.66)
}
.cursor-pointer{
  cursor: pointer;
}
.no-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.hover-table-row:hover{
  background: var(--th);
}

.jt-bg-clicked{
  background-color: rgba(209, 234, 255, 0.73) !important;
}

.active-scale-90:active{
  scale: 90%;
}
*, *::before, *::after {
  box-sizing: border-box;
}